/* Nav */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right-side-items {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2em;
  font-weight: 300;
}
