* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 1280px;
  margin: 0 auto;
}


/* Presentation */

.presentation {
  background-color: #13171c;
    padding: 5em 0;
}

.presentation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.presentation-left-title {
  color: #fff;
  font-size: 3rem;
}

.presentation-left-title span {
  color: #00adb5;
}

.presentation-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7em;
}

/* Biography */

.biography {
  background-color: #192130;
}

.biography-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 5em 0;
}

.biography-left-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.biography-left-text {
  max-width: 400px;
}

.biography-container img {
  max-width: 500px;
  background-size: contain;
}
