
.portafolio{
    background-color: #13171c;
    background-image: url('../assets/doodle-items.png');
    background-size: contain;
    background-repeat: repeat;
    color: #fff;
    text-align: center;
}

.services-title {
    text-align: center;
    font-size: 2.5rem;
}

.services-title span{
    color: #00adb5;
}

.portafolio-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2em;
    flex-wrap: wrap;
}

.portafolio-card {
  width: 100%;
    max-width: 360px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgba(57, 62, 70, 0.50);
    padding: 10px 10px;
    gap: 20px;
    border-radius: 16px; 
    height: 522px;
}

.portafolio-card h3 {
    font-size: 1.5rem;
}


/* Presentation */

.presentation {
    background-color: #13171c;
      padding: 5em 0;
  }
  
  .presentation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .presentation-left-title {
    color: #fff;
    font-size: 3rem;
  }
  
  .presentation-left-title span {
    color: #00adb5;
  }
  
  .presentation-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7em;
  }

/* Services */

.portafolio-page-container{
    padding:  5em 0;
}

.portafolio-page-text{
    font-size: 1.5rem;
}

.portafolio-see-more{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

@media screen and (max-width: 768px) {
  .portafolio-container{
    flex-direction: column;
    justify-content: center;
  }

  

}